<section id="hobbies" class="route sect-pt8">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Hobbies</h3>
          <p class="subtitle-a">
            Things I like to do to relax and have fun.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="hobby-box">
          <div class="hobby-ico">
            <span class="ico-circle"><i class="fas fa-gamepad"></i></span>
          </div>
          <div class="hobby-content">
            <h2 class="s-title">Games</h2>
            <p class="s-description text-center">
              I really enjoy playing videogames. It's a great way to pass the time,
              relax and have fun. Open world games are definitely my favorite.
              I also enjoy playing games with friends, like multiplayer games and co-op
              games. I find it really fun to play with others and share the experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hobby-box">
          <div class="hobby-ico">
            <span class="ico-circle"><i class="fas fa-camera"></i></span>
          </div>
          <div class="hobby-content">
            <h2 class="s-title">Photos</h2>
            <p class="s-description text-center">
              I'm also a photographer. It allows me to freeze moments in time, 
              capturing the essence of life's fleeting beauty and emotion for eternity.
              Through my eyes and my lens, I can paint stories and evoke feelings that 
              resonate across languages and cultures, connecting hearts with a single image.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hobby-box">
          <div class="hobby-ico">
            <span class="ico-circle"><i class="fas fa-film"></i></span>
          </div>
          <div class="hobby-content">
            <h2 class="s-title">Movies and Series</h2>
            <p class="s-description text-center">
              Movies and series are windows into countless worlds. They influenced and taught 
              me several things, including English. Each new story is a journey that grows with me, 
              offering insights into life's complexities.
              Films and series are my escape, my education, my dream space.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hobby-box">
          <div class="hobby-ico">
            <span class="ico-circle">
                <i class="fas fa-book"></i>
            </span>
          </div>
          <div class="hobby-content">
            <h2 class="s-title">Learning</h2>
            <p class="s-description text-center">
              Learning is a transformative process that helps me grow, adapt, 
              and find innovative ways to solve daily challenges. Learning keeps me young 
              at heart and open-minded. It's the antidote to stagnation, a constant invitation to 
              explore new horizons, embrace change, and redefine my capabilities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
