<div id="home" class="intro route bg-image" style="background-image: url(assets/img/intro-bg.jpg)">
    <div class="overlay-intro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="intro-title mb-4">I'm {{personalData.nome}}</h1>
                <p class="intro-subtitle">Backend developer for over 10 years, focused on quality, continuous learning and improvement.</p>
            </div>
        </div>
    </div>
</div>