<section id="about" class="about-mf sect-pt8 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <div class="about-img">
                    <img
                      src="assets/img/about-me.png"
                      class="img-fluid rounded b-shadow-a"
                      alt="Vitor Mendes"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>{{ personalData.nome }}</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>{{ personalData.perfil }}</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>{{ personalData.email }}</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>{{ personalData.telefone }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Technical Skills</p>
                <div class="skills">
                  <div class="row gap">
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 90">
                      <img
                        src="assets/icons/java-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Java"
                        title="Java"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 75">
                      <img
                        src="assets/icons/database-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="SQL Database"
                        title="SQL Database"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 70">
                      <img
                        src="assets/icons/spring-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Spring Framework"
                        title="Spring Framework"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 60">
                      <img
                        src="assets/icons/angular-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Angular"
                        title="Angular"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 25">
                      <img
                        src="assets/icons/aws-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="AWS"
                        title="AWS"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 10">
                      <img
                        src="assets/icons/docker-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Docker"
                        title="Docker"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 80">
                      <img
                        src="assets/icons/jenkins-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Jenkins"
                        title="Jenkins"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 90">
                      <img
                        src="assets/icons/git-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Git"
                        title="Git"/>
                    </div>
                    <div
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="--value: 10">
                      <img
                        src="assets/icons/redis-icon.png"
                        class="img-fluid rounded b-shadow-a"
                        alt="Redis"
                        title="Redis"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <p class="lead">
                  I am a vibrant and innovative professional, recognized for
                  tackling and overcoming complex challenges, consistently
                  delivering high-value results. My experience shines through
                  the successful creation of the UNIP app, showcasing my ability
                  to swiftly master new technologies. With effective technical
                  leadership and strong full-stack development skills, I have
                  made significant contributions to cutting-edge projects.
                </p>
                <p class="lead">
                  I am relentlessly pursuing the enhancement of my competencies
                  and eager to apply them creatively and efficiently. Ready to
                  add value and drive the collective success of the team and
                  organization.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
