<section id="contact" 
  class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(assets/img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">Get in Touch</h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    If you're looking for a dedicated professional to join your team or to develop your next project, 
                    please do not hesitate to reach out. I'm eager to learn about your ideas and how we can bring 
                    them to fruition together. Let's start a conversation and explore the possibilities.
                  </p>
                  <ul class="list-ico">
                    <li>
                      <span class="fas fa-location-dot"></span> {{personalData.localizacao}}
                    </li>
                    <li>
                      <span class="fas fa-mobile"></span> {{personalData.telefone}}
                    </li>
                    <li>
                      <span class="fas fa-envelope"></span> {{personalData.email}}
                    </li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li>
                      <a href="">
                        <span class="ico-circle">
                          <i class="fas fa-instagram"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="ico-circle">
                          <i class="fas fa-linkedin"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <footer>
    <div class="row">
        <span>&nbsp;</span>
    </div>
  </footer>
</section>
