<section
  id="achievements"
  class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(assets/img/achievement-bg.jpg)"
>
  <div class="overlay-achievement"></div>
  <div class="container">
    <div class="row achievements-title">
      <div class="col text-center mb-5">
        <h3 class="title-a">Achievements</h3>
        <p class="subtitle-a">My favorite childs.</p>
        <div class="line-mf"></div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6 mt-4">
          <div class="card mx-auto">
            <img src="/assets/img/unip-app.png" />
            <div class="info">
              <h1>UNIP App: Android version</h1>
              <p>
                I was responsible for the Android version of the UNIP app. It
                was developed in 15 days, with no previous experience in app
                development, while still addressing daily demands.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-4">
          <div class="card mx-auto">
            <img src="/assets/img/iamspe-app.png" />
            <div class="info">
              <h1>IAMSPE App: API and documentation</h1>
              <p>
                I was responsible for the API and documentation used by an
                external team for the development of the new IAMSPE app, where
                best practices for secure and protected access and information
                sharing were adopted.
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
